/* 
&display=swap
&subset=cyrillic-ext 
*/
@import url("https://fonts.googleapis.com/css?family=Roboto:regular,700,900&display=swap");

/* ОБНУЛЕНИЕ СТИЛЕЙ */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}
li {
	list-style: none;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
img {
	vertical-align: top;
}
html,
body {
	height: 100%;
}
html {
	font-size: 16px; /* по умолчанию */
}
body {
	line-height: 1;
	font-family: "Roboto";
	background: #f5f5f5;
}
.wrapper {
	min-height: 100%;
	overflow: hidden;
	padding: 50px;
}
/* ------------------------------ */

.content {
	padding: 280px 647px 312px 210px;
	background: url(../img/footer.png) 0 0 / cover no-repeat;
}
.Top-noch {
	font-family: Roboto;
	font-style: normal;
	font-weight: 900;
	font-size: 56px;
	line-height: 56px;
	color: #FFFFFF;
	margin: 0px 0px 48px 0px;
	max-width: 583px;

}
.push {
	display: inline-block;
}


.make {
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	line-height: 24px;
	letter-spacing: 0.15px;
	text-transform: uppercase;
	color: #FFFFFF;
	padding: 9px 43px 9px 28px;
	background: #C40B0B url(../img/Button-Treatment-48px.png) right no-repeat;
	display: inline-block;
	max-width: 100%;
}